@import '~bootstrap/scss/bootstrap';
@import './menu.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Zen+Kaku+Gothic+New&display=swap');
@import './swoosh.scss';
@import './quiz.scss';
@import './form.scss';
@import './mobile.scss';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.admin {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: small;
}

.admin:hover {
  cursor: pointer;
  background-color: lightgrey;
}
